
a:link, a:visited {
background-color:lightslategray;
color: white;
padding: 14px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
border-radius: 5px;
}

a:hover, a:active {
background-color:darkblue;
opacity: 0.6;
}

h1 {
background-color: slategray; 
color: white;
text-align: center;
padding: 20px 30px;

}

h1, p, button, a, h2 {
font-family: Arial;
margin: 10px;
}

button {
margin: 20px;
}

h2 {
display: block;
background-color: gray;
color: white;
text-align: center;
margin: 5px;
}

#confirmacionPassword{
display: none;
