
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 1200px;
    margin: auto;
}

li {
    padding: 0.2em;
}

a {
    width: 200px;
    text-align: left;
    padding: 14px 25px;
}

a:link, a:visited {
background-color:lightslategray;
color: white;
text-decoration: none;
display: inline-block;
border-radius: 2px;
}

a:hover, a:active {
background-color:darkblue;
opacity: 0.6;
}

h1 {
background-color: rgba(3, 33, 66, 0.8); 
color: white;
text-align: center;
padding: 20px 30px;
}

h1, p, button, a {
font-family: Arial;
margin: 5px;
}

button {
margin: 20px;
}

h2 {
font-family: Arial, Helvetica, sans-serif;
display: block;
background-color: gray;
color: white;
text-align: center;
height: 30px;
padding: 10px 0px;
margin: 5px;
border-radius: 5px;
}

.links {  
    border: 1px solid black;
    margin: 10px auto;
    border-radius: 1px;
}

#confirmacionPassword{
display: none;

}

.datos {
    align-items: flex-start;
    display: flex;
}

.direccion {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    margin: 5px;
    display: inline-block;
    height: 10em;
}

.direccion p {
    font-family: 'Courier New', Courier, monospace;
}